@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    background-color: #b0ffe2;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
body{
    background-color: #b0ffe2
}
.d-block{
    width: 100%;
    height:79vh;
    background-position: center;
    background-size: cover;
}
.carousel{
    width: 100%;
display: flex;
background-color: #62ebbfc2;
padding:0 27px;
align-items: center;
justify-content: center;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
margin-top: 2px;
}
.nav-link{
    color: black;
}
.carousel-item {
    padding: 10px 0;
}
.carousel-caption h5{
    color:white;
    z-index: 24;
}
.carousel-item img{
    background-position: center;
    background-size: cover;
}
.p-2 {
    padding: 2.5rem !important;
}
.card{
    background-color: #ebffff;
    margin: 13px 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.row{
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.btn{
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.form-control{
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: none;
    outline: none;
}
.h5{
    color:white !important;
}
.p{
    color:white !important;
}
.button{
    color: black;
    background:none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.svg-secti{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

  .wheel-and-hamster {
    --dur: 1s;
    position: relative;
    width: 12em;
    height: 12em;
    font-size: 14px;
  }
  
  .wheel,
  .hamster,
  .hamster div,
  .spoke {
    position: absolute;
  }
  
  .wheel,
  .spoke {
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .wheel {
    background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
    z-index: 2;
  }
  
  .hamster {
    animation: hamster var(--dur) ease-in-out infinite;
    top: 50%;
    left: calc(50% - 3.5em);
    width: 7em;
    height: 3.75em;
    transform: rotate(4deg) translate(-0.8em,1.85em);
    transform-origin: 50% 0;
    z-index: 1;
  }
  
  .hamster__head {
    animation: hamsterHead var(--dur) ease-in-out infinite;
    background: hsl(30,90%,55%);
    border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
    box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
          0.75em -1.55em 0 hsl(30,90%,90%) inset;
    top: 0;
    left: -2em;
    width: 2.75em;
    height: 2.5em;
    transform-origin: 100% 50%;
  }
  
  .hamster__ear {
    animation: hamsterEar var(--dur) ease-in-out infinite;
    background: hsl(0,90%,85%);
    border-radius: 50%;
    box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
    top: -0.25em;
    right: -0.25em;
    width: 0.75em;
    height: 0.75em;
    transform-origin: 50% 75%;
  }
  
  .hamster__eye {
    animation: hamsterEye var(--dur) linear infinite;
    background-color: hsl(0,0%,0%);
    border-radius: 50%;
    top: 0.375em;
    left: 1.25em;
    width: 0.5em;
    height: 0.5em;
  }
  
  .hamster__nose {
    background: hsl(0,90%,75%);
    border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
    top: 0.75em;
    left: 0;
    width: 0.2em;
    height: 0.25em;
  }
  
  .hamster__body {
    animation: hamsterBody var(--dur) ease-in-out infinite;
    background: hsl(30,90%,90%);
    border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
    box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
          0.15em -0.5em 0 hsl(30,90%,80%) inset;
    top: 0.25em;
    left: 2em;
    width: 4.5em;
    height: 3em;
    transform-origin: 17% 50%;
    transform-style: preserve-3d;
  }
  
  .hamster__limb--fr,
  .hamster__limb--fl {
    clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
    top: 2em;
    left: 0.5em;
    width: 1em;
    height: 1.5em;
    transform-origin: 50% 0;
  }
  
  .hamster__limb--fr {
    animation: hamsterFRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
    transform: rotate(15deg) translateZ(-1px);
  }
  
  .hamster__limb--fl {
    animation: hamsterFLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
    transform: rotate(15deg);
  }
  
  .hamster__limb--br,
  .hamster__limb--bl {
    border-radius: 0.75em 0.75em 0 0;
    clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
    top: 1em;
    left: 2.8em;
    width: 1.5em;
    height: 2.5em;
    transform-origin: 50% 30%;
  }
  
  .hamster__limb--br {
    animation: hamsterBRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
    transform: rotate(-25deg) translateZ(-1px);
  }
  
  .hamster__limb--bl {
    animation: hamsterBLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
    transform: rotate(-25deg);
  }
  
  .hamster__tail {
    animation: hamsterTail var(--dur) linear infinite;
    background: hsl(0,90%,85%);
    border-radius: 0.25em 50% 50% 0.25em;
    box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
    top: 1.5em;
    right: -0.5em;
    width: 1em;
    height: 0.5em;
    transform: rotate(30deg) translateZ(-1px);
    transform-origin: 0.25em 0.25em;
  }
  
  .spoke {
    animation: spoke var(--dur) linear infinite;
    background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
          linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
  }
  
  /* Animations */
  @keyframes hamster {
    from, to {
      transform: rotate(4deg) translate(-0.8em,1.85em);
    }
  
    50% {
      transform: rotate(0) translate(-0.8em,1.85em);
    }
  }
  
  @keyframes hamsterHead {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(8deg);
    }
  }
  
  @keyframes hamsterEye {
    from, 90%, to {
      transform: scaleY(1);
    }
  
    95% {
      transform: scaleY(0);
    }
  }
  
  @keyframes hamsterEar {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(12deg);
    }
  }
  
  @keyframes hamsterBody {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-2deg);
    }
  }
  
  @keyframes hamsterFRLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(50deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-30deg) translateZ(-1px);
    }
  }
  
  @keyframes hamsterFLLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(-30deg);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(50deg);
    }
  }
  
  @keyframes hamsterBRLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(-60deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(20deg) translateZ(-1px);
    }
  }
  
  @keyframes hamsterBLLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(20deg);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-60deg);
    }
  }
  
  @keyframes hamsterTail {
    from, 25%, 50%, 75%, to {
      transform: rotate(30deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(10deg) translateZ(-1px);
    }
  }
  
  @keyframes spoke {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(-1turn);
    }
  }
  

  /* Toogle */

  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.8em;
  height: 3.8em;
}

.torch {
  margin-top: 0.9em;
  margin-left: 0.95em;
  width: 30px;
  height: 30px;
  transform: rotate(-45deg);
}

.slider .b {
  position: relative;
  top: -3.3em;
  transform: rotate(270deg);
}

.slider .bling_85 {
  stroke: #fff;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-dasharray: 3;
  stroke-dashoffset: 15;
  transition: all 0.3s ease;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
  border-radius: 50%;
  background-color: rgba(116, 115, 115, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.chk_85:checked + .slider {
  animation: tap 0.3s linear forwards;
}

.chk_85:checked + .slider .bling_85 {
  animation: bling_8561328 0.3s linear forwards;
  animation-delay: 0.2s;
}

.chk_85:checked + .slider {
  background-color: #FFA133;
}

.chk_85:focus + .slider {
  box-shadow: 0 0 1px #FFA133;
}

@keyframes bling_8561328 {
  50% {
    stroke-dasharray: 3;
    stroke-dashoffset: 12;
  }

  100% {
    stroke-dasharray: 3;
    stroke-dashoffset: 9;
  }
}

@keyframes tap {
  50% {
    scale: 0.9;
  }

  100% {
    scale: 1;
  }
}



.light-theme{
  background-color: #adffd9;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-weight: 400;
}
.dark-theme{
  background-color: #ea7297;
}

.d-block{
 box-shadow: rgb(244, 247, 251) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
 transition: all ease-in-out 0.3s;
}
.d-block:hover{
  transform: scale(1.1);
}
.card-img-top{
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  margin-top: 5px;
  transition: all ease-in-out 0.3s;
}

.card-img-top:hover{
  transform: scale(0.9);
}
.khabar{
  font-family: 'Norican', cursive;
  font-size: 28px;
}



/* Weather */
.weathercard {
  width: 100%;
  height: 150px;
  background: black;
  border: 2px solid #07ff07;
  box-shadow: 2px 2px 15px #000000 inset;
  color: #e8e8e8;
  display: flex;
  font-family: 'Pacifico';
}
.weather1{
  display: flex;
  color: #adffd9;
  font-size: 13px;
  flex-direction: column;
}
.weat{
  display: flex;
  font-size: 12px;
}

.weathercard:hover {
  color: #07ff07;
  box-shadow: 2px 2px 15px #07ff07 inset;
}

.weather-data{
  height: 100%;
  background-color: #000000;
  border: 1px solid beige;
}
.card-weather{
  display: flex;
}

.footer-section{
  height: 100%;
padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color:rgb(82,0,29); 
}
.foot-head{
  /* background-color: #07ff07; */
  width: 100%;
}
/* .foot-form{
  background-color: #07ff07;
} */
.foot-form input{
  padding: 10px 0;
  width: 70%;
  margin: 1px 5px;
  background: none;
}
.foot-form span{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub{
  width:20%;
  padding: 10px 0;
  border:1px dashed #adffd9 ;
  background: none;
  color: #adffd9;
}
.foot-ul{
  /* background-color: #07ff07; */
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ul-foot {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;
  margin-top: 10px;
}

.ul-foot li a{
  text-decoration: none;
  color: #b0ffe2;
}
.foot-icon{
  /* background-color: #adffd9; */
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.foot-icon{
  display: flex;
  align-items: center;
}
.foot-icon a{
  text-decoration: none;
  font-size: 30px;
}
.foot-kh{
  width: 40%;
  display: flex;
  font-family: 'Norican', cursive;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  border: 2px dotted rgb(245, 237, 237);
  color: #b0ffe2;
  /* background-color: #07ff07; */
  height: 50px;
}
.foot-title{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.foot-kh strong{
  margin-left: 15px;
}
.copy-foot{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hr-fo{
  color: #adffd9;
  border:1px  dashed #1fff97;
}
.copy-foot a{
  text-decoration: none;
  color: #b0ffe2;
}
.copy-foot strong{
  margin-left: 10px;
}
.foot-a{
  display: flex;
  height: 100px;
  flex-direction: column;
  /* background-color: #07ff07; */
  justify-content: space-around;
}

.foot-icon a i{
  background: -webkit-linear-gradient(#eee, #4987fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* transition: all ease-in-out 0.3s; */
}

@media(max-width:768px){
  .footer-section{
    width: 100%;
    height: auto;
  }
  .foot-kh{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  .foot-head{
    width: 100%;
  }
  .ul-foot{
    display: flex;
    flex-wrap: wrap;
  }
  .foot-form span{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
 
  .foot-form span input{
    width: 100%;
  }
  .sub{
    width: 100%;
  }
  .foot-title{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.sub:hover{
  background-color: rgba(3, 30, 78, 0.411);
}
.foot-icon a i:hover{
  background: -webkit-linear-gradient(#f26767, #4987fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ul-foot li a:hover{
  background: -webkit-linear-gradient(#f26767, #4987fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn:hover{
  background-color: #fab1c7;
}
@media (max-width:810px){
  marquee{
    width: 30%;
  }
}
@media (max-width:560px){
  .container-fluid{
    display: flex;
    flex-wrap: wrap;
  }
  marquee{
    width: 100%;
  }
}
